.body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;

}
  
#mainTitle h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

#topPara {
    text-align: center;
    margin-left: 10%;
    margin-right: 12%;

}

#mainTitle {
    color:#FFFFFF;
    border: 1px solid #1DB954  ;
    background: #1DB954  ;
    text-align: center;
    border-radius: 30px;
    box-shadow: 5px 5px #1DB954 ;
    padding-top: 15px;
    padding-bottom: 15px;
    color: black;
    margin-left:  100px;
    margin-right: 100px;
    position: relative;
    top: 18px;
    left: 10px;
    
 
    

}

#graphText {
    margin-left: 10%;
    margin-right: 12%;

}

.image {
float: right;
position:absolute; 
top: 2%;; 
left:85%; 
transform: rotate(30deg);
float: right;
    width: 100px;
    height: 100px;
    border-radius: 20%;

}

#vis {
    color:#FFFFFF;
    border: 1px solid #1DB954  ;
    background: #1DB954  ;
    text-align: center;
    border-radius: 10px;
    box-shadow: 10px 10px #1DB954 ;
    color: black;
    margin-bottom: 40px;
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 100px;
}
